body { max-width: 800px; }

h1, h2, #notes p { font-family: 'Roboto Slab', serif; }
h1 { font-size: 1.3em; font-weight: 600; margin-bottom: 0; }
h2 { font-size: 1em; font-weight: 300; margin-top: 3px; }
#notes p { font-size: .8em; }
#notes p:last-child { border-bottom: 1px solid #666666; font-weight: 300; padding-bottom: 8px; }
a { text-decoration: none; }
text.dates { font-family: 'Oswald', sans-serif; text-anchor: middle; cursor: pointer; user-select: none; }
.funcName, .funcTotal { font-family: 'Oswald', sans-serif; user-select: none; }
.funcName { font-size: .8em; font-weight: 500; }
.funcTotal { font-size: .7em; font-weight: 300; }
